<cdk-virtual-scroll-viewport itemSize="50" class="breed-viewport">
  <div *cdkVirtualFor="let data of dataSource">
    <mat-card class="breed-card">
      <mat-card-header>
        <mat-card-title>{{data.name}}</mat-card-title>
        <mat-card-subtitle>{{data.origin}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{data.imageUrl}}" alt="cat">
      <mat-card-content>
        <p>
          {{data.description}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</cdk-virtual-scroll-viewport>