.breed-container {
    height: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  .breed-card {
    max-width: 400px;
    margin: 75px;
  }

  .breed-viewport {
    height: 100%;
    max-width: 600px;
  }